<section class="looking">
  <div class="row">
    <div class="col-xs-12">
      <div class="puppy-card center-block">
        <div class="click-feedback"></div>
        <div class="profile-photo-container">
          <img class="profile-photo img-responsive" alt="dog-profile-photo" src="{{ currentDog.photo }}"/>
        </div>
        <div>
          <h2 class="name">{{ currentDog.name }}</h2>
        </div>
        <div class="pet-info"> {{ currentDog.age }} | {{ currentDog.sex }}</div>
        <div>
        <div class="row like-buttons">
            <div id="dislike" class="like-button" ng-click="like(currentDog, false)">
                <i class="fa fa-times"></i>
            </div>
            <div id="like" class="like-button" ng-click="like(currentDog, true)">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
